#box1 {
  background-color: #208A00;
  padding: 50px;
  color: white;
  text-align: center;
}
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

$normal-img:"http://c85c7a.medialib.glogster.com/media/f3/f3a2b443d6d39abed2f7500c60d257499f6cea19a0f0834b08ab1f4f1b9b5cce/discus-throw-wall-papper-jpg.jpg";
$blurred-img:"http://i202.photobucket.com/albums/aa181/samanthakarina/backgrounds_wallpapers/background_black.jpg";

body{
	background-image:url($normal-img);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
text-align:center;
	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}
.blurred-bg{

	background-image:url($blurred-img);
	background-repeat:no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
   text-align:center;
	&.tinted{
		@include background-image(linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url($blurred-img));
	}
	&.shaded{
		@include background-image(linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),url($blurred-img));
	}
}
.box{
	width:500px;
	height:800px;
  left:-webkit-calc( 50% - 250px );
  top:10%;
	position:absolute;
	border-radius:5px;
	@include box-shadow(0 90px 300px rgba(0,0,0,.6));
	border:-5px solid rgba(255,255,255,.3);
	padding:10px;
	text-align: center;
	@include box-sizing(border-box);
	text-shadow:0 1.5px 1.6px rgba(0,0,0,.4);
  display: flex;
  transition: box-shadow .3s ease;
  
	&:active{
    cursor:move;
    @include box-shadow(0 20px 50px rgba(0,0,0,.9));
  }
  
  .content{
    margin: px;
  }
}
h1,h2,a,p{
	color:blue;
  text-align:center;
	font:100;
  
	.tinted &{
		color:black;
		text-shadow:0 px px rgba(255,255,255,.2);
	}
}
h2{text-align:center; font-size: 14px }
p{
  margin: 50px;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    
    a{
      font-weight: 700;
      color: green;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
h1{
 text-align:center; 
  
}
